.promo {
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 572px;
    gap: 56px;
  }
}

.promo__text-wrapper {
  display: grid;
  grid-template-columns: 1fr 156px;
  gap: 0 21px;
  text-align: right;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 185px;
    gap: 0 26px;
    padding: 31px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 270px;
    gap: 0;
    padding: 52px 0;
  }
}

.promo__city {
  @include indent-reset;
  margin-bottom: 14px;
  color: $base-color;
  font-family: $main-font;
  font-size: 32px;
  line-height: 32px;
  font-style: normal;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    font-size: 54px;
    line-height: 54px;
  }
}

.promo__list {
  @include list-reset;
  margin-top: auto;
  grid-row: 1/3;

  @media (min-width: $tablet-width) {
    grid-row: 1/4;
    margin: auto 0;
  }
}

.promo__item {
  color: $base-color;
  font-family: $secondary-font;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.promo__title {
  @include indent-reset;
  color: $base-color;
  font-family: $main-font;
  font-size: 62px;
  line-height: 62px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.promo__button {
  margin-top: 48px;
  grid-column: 1/3;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    margin-top: 50px;
    margin-bottom: auto;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    margin-bottom: auto;
    padding: 25px;
  }
}

.promo__img-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    line-height: 0;
  }
}
